<h1>Datos Contacto</h1>
<div id="<%= dom_id contacto %>" class ="form-control">
  <p>
    <strong>Nombre:</strong>
    <%= contacto.nombre %>
  </p>

  <p>
    <strong>Correo:</strong>
    <%= contacto.correo %>
  </p>

  <p>
    <strong>Asunto:</strong>
    <%= contacto.asunto %>
  </p>

  <p>
    <strong>Mensaje:</strong>
    <%= contacto.mensaje %>
  </p>

</div>
